.v--modal-overlay .v--modal-box {
    border-radius: 6px;
    overflow: visible !important;
}
.v-modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
}
.v-modal-header .v-modal-title {
    margin-bottom: 0;
    line-height: 1.6;
}
.v-modal-header .v-close,
.v-modal-header .v-close:focus {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    border: none;
    outline: none;
    background-color: transparent;
}
.v-modal-header .v-close:hover {
    opacity: 1;
}
.v-modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    font-size: 15px;
}
.v-modal-body label {
    padding-right: 0;
}
.v-modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.v-modal-footer button {
    margin-left: 10px;
}